@charset "UTF-8";

@font-face {
  font-family: "iwan";
  src:url("../fonts/iwan.eot");
  src:url("../fonts/iwan.eot?#iefix") format("embedded-opentype"),
    url("../fonts/iwan.woff") format("woff"),
    url("../fonts/iwan.ttf") format("truetype"),
    url("../fonts/iwan.svg#iwan") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "iwan" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="iwan-"]:before,
[class*=" iwan-"]:before {
  font-family: "iwan" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iwan-bread:before {
  content: "\61";
}
.iwan-helm:before {
  content: "\62";
}
.iwan-play:before {
  content: "\63";
}
.iwan-activity:before {
  content: "\64";
}
.iwan-company:before {
  content: "\65";
}
.iwan-file-text:before {
  content: "\66";
}
.iwan-folder:before {
  content: "\67";
}
.iwan-paw:before {
  content: "\68";
}
.iwan-sort:before {
  content: "\6f";
}
.iwan-sort-asc:before {
  content: "\70";
}
.iwan-sort-desc:before {
  content: "\71";
}
.iwan-handle:before {
  content: "\6d";
}
.iwan-hammer:before {
  content: "\6e";
}
.iwan-images:before {
  content: "\69";
}
.iwan-categories:before {
  content: "\6a";
}
.iwan-group:before {
  content: "\6b";
}
.iwan-person:before {
  content: "\73";
}
.iwan-people:before {
  content: "\74";
}
.iwan-power:before {
  content: "\75";
}
.iwan-tools:before {
  content: "\76";
}
.iwan-anchor:before {
  content: "\77";
}
.iwan-double-down:before {
  content: "\78";
}
.iwan-double-up:before {
  content: "\79";
}
.iwan-double-left:before {
  content: "\7a";
}
.iwan-double-right:before {
  content: "\41";
}
.iwan-window-list:before {
  content: "\42";
}
.iwan-x:before {
  content: "\43";
}
.iwan-dot:before {
  content: "\44";
}
.iwan-dot-2:before {
  content: "\45";
}
.iwan-dot-3:before {
  content: "\46";
}
.iwan-list:before {
  content: "\47";
}
.iwan-list-add:before {
  content: "\48";
}
.iwan-pie-chart:before {
  content: "\49";
}
.iwan-watch:before {
  content: "\4a";
}
.iwan-data:before {
  content: "\4b";
}
.iwan-music:before {
  content: "\4c";
}
.iwan-settings:before {
  content: "\4e";
}
.iwan-video:before {
  content: "\4f";
}
.iwan-trash:before {
  content: "\50";
}
.iwan-tv:before {
  content: "\51";
}
.iwan-lock:before {
  content: "\52";
}
.iwan-news:before {
  content: "\4d";
}
.iwan-bag:before {
  content: "\53";
}
.iwan-upload:before {
  content: "\54";
}
.iwan-refresh:before {
  content: "\55";
}
.iwan-character:before {
  content: "\57";
}
.iwan-move:before {
  content: "\58";
}
.iwan-paypal:before {
  content: "\56";
}
.iwan-paper-plane:before {
  content: "\59";
}
.iwan-ticket:before {
  content: "\5a";
}
.iwan-youtube-play:before {
  content: "\30";
}
.iwan-boat:before {
  content: "\31";
}
.iwan-check:before {
  content: "\6c";
}
.iwan-alarm-clock:before {
  content: "\32";
}
.iwan-controller:before {
  content: "\34";
}
.iwan-pizza:before {
  content: "\35";
}
.iwan-backpack:before {
  content: "\36";
}
.iwan-barbeque:before {
  content: "\37";
}
.iwan-bomb:before {
  content: "\38";
}
.iwan-book-download:before {
  content: "\39";
}
.iwan-browser:before {
  content: "\21";
}
.iwan-brush:before {
  content: "\22";
}
.iwan-bubble-hear:before {
  content: "\23";
}
.iwan-polaroid:before {
  content: "\24";
}
.iwan-crop:before {
  content: "\26";
}
.iwan-dashboard:before {
  content: "\27";
}
.iwan-hotdog:before {
  content: "\28";
}
.iwan-laptop:before {
  content: "\29";
}
.iwan-paint-bucket:before {
  content: "\2c";
}
.iwan-photo:before {
  content: "\2d";
}
.iwan-photos:before {
  content: "\2e";
}
.iwan-receipt:before {
  content: "\2f";
}
.iwan-buy:before {
  content: "\3a";
}
.iwan-lightbulb:before {
  content: "\3b";
}
.iwan-archive:before {
  content: "\3f";
}
.iwan-paperclip:before {
  content: "\40";
}
.iwan-warning:before {
  content: "\5b";
}
.iwan-basket:before {
  content: "\5d";
}
.iwan-bell:before {
  content: "\5e";
}
.iwan-book:before {
  content: "\5f";
}
.iwan-chat:before {
  content: "\60";
}
.iwan-down-circled:before {
  content: "\7b";
}
.iwan-location:before {
  content: "\7d";
}
.iwan-forward:before {
  content: "\7e";
}
.iwan-flashlight:before {
  content: "\5c";
}
.iwan-trophy:before {
  content: "\e001";
}
.iwan-diamond:before {
  content: "\e002";
}
.iwan-credit-cards:before {
  content: "\e003";
}
.iwan-shop:before {
  content: "\e004";
}
.iwan-sound:before {
  content: "\e005";
}
.iwan-study:before {
  content: "\e006";
}
.iwan-pen:before {
  content: "\e007";
}
.iwan-params:before {
  content: "\e008";
}
.iwan-fire:before {
  content: "\e009";
}
.iwan-dollar:before {
  content: "\e00a";
}
.iwan-bulb:before {
  content: "\e00b";
}
.iwan-lab:before {
  content: "\e00c";
}
.iwan-cup:before {
  content: "\e00d";
}
.iwan-megaphone:before {
  content: "\e00e";
}
.iwan-heart:before {
  content: "\e00f";
}
.iwan-bubble:before {
  content: "\e011";
}
.iwan-search:before {
  content: "\e012";
}
.iwan-tag:before {
  content: "\e013";
}
.iwan-world:before {
  content: "\25";
}
.iwan-camera:before {
  content: "\2a";
}
.iwan-calendar:before {
  content: "\7c";
}
.iwan-mail:before {
  content: "\e014";
}
.iwan-phone:before {
  content: "\e015";
}
.iwan-star:before {
  content: "\e016";
}
.iwan-star-half:before {
  content: "\e017";
}
.iwan-star-half-1:before {
  content: "\e018";
}
.iwan-star-two:before {
  content: "\e019";
}
.iwan-medal-rank-star:before {
  content: "\e01a";
}
.iwan-facebook:before {
  content: "\e01b";
}
.iwan-google-plus:before {
  content: "\e01c";
}
.iwan-twitter:before {
  content: "\e01d";
}
.iwan-github:before {
  content: "\e01e";
}
.iwan-code:before {
  content: "\e01f";
}
.iwan-pie-graph:before {
  content: "\e020";
}
.iwan-javascript:before {
  content: "\e021";
}
.iwan-wand:before {
  content: "\e022";
}
.iwan-wineglass:before {
  content: "\e023";
}
.iwan-milestone:before {
  content: "\e024";
}
.iwan-terminal:before {
  content: "\e025";
}
.iwan-plug:before {
  content: "\e026";
}
.iwan-gift:before {
  content: "\e027";
}
.iwan-markdown:before {
  content: "\e028";
}
.iwan-beer:before {
  content: "\e029";
}
.iwan-credit-card:before {
  content: "\e02a";
}
.iwan-bolt:before {
  content: "\e02b";
}
.iwan-external:before {
  content: "\e02c";
}
.iwan-magnet:before {
  content: "\e02d";
}
.iwan-certificate:before {
  content: "\e02e";
}
.iwan-cloud-download:before {
  content: "\e02f";
}
.iwan-campfire:before {
  content: "\e030";
}
.iwan-new:before {
  content: "\e031";
}
.iwan-skull:before {
  content: "\e032";
}
.iwan-telephone:before {
  content: "\e033";
}
.iwan-trees:before {
  content: "\e034";
}
.iwan-bar-chart:before {
  content: "\e035";
}
.iwan-check-circle:before {
  content: "\e036";
}
.iwan-exclamation:before {
  content: "\e037";
}
.iwan-font:before {
  content: "\e03a";
}
.iwan-puzzle:before {
  content: "\e03b";
}
.iwan-smile:before {
  content: "\e03c";
}
.iwan-frown:before {
  content: "\e03d";
}
.iwan-meh:before {
  content: "\e03e";
}
.iwan-leaf:before {
  content: "\e03f";
}
.iwan-info-circled:before {
  content: "\e040";
}
.iwan-underline:before {
  content: "\e041";
}
.iwan-wallet:before {
  content: "\e042";
}
.iwan-truck:before {
  content: "\e043";
}
.iwan-eye:before {
  content: "\e044";
}
.iwan-sun:before {
  content: "\e045";
}
.iwan-barbell:before {
  content: "\e04a";
}
.iwan-bookmark:before {
  content: "\e04c";
}
.iwan-volume-up:before {
  content: "\e04d";
}
.iwan-volume-down:before {
  content: "\e04e";
}
.iwan-wifi:before {
  content: "\e04f";
}
.iwan-pause:before {
  content: "\e053";
}
.iwan-resize-full:before {
  content: "\e054";
}
.iwan-resize-small:before {
  content: "\e055";
}
.iwan-download:before {
  content: "\e056";
}
.iwan-droplet:before {
  content: "\e057";
}
.iwan-umbrella:before {
  content: "\e058";
}
.iwan-harddrive:before {
  content: "\e059";
}
.iwan-css3:before {
  content: "\e05a";
}
.iwan-html5:before {
  content: "\e05b";
}
.iwan-tree:before {
  content: "\e05e";
}
.iwan-file-code:before {
  content: "\e061";
}
.iwan-bug:before {
  content: "\e062";
}
.iwan-rocket:before {
  content: "\e063";
}
.iwan-key:before {
  content: "\33";
}
.iwan-question:before {
  content: "\2b";
}
.iwan-cursor:before {
  content: "\3c";
}
.iwan-lifebuoy:before {
  content: "\3d";
}
.iwan-thumbs-up:before {
  content: "\3e";
}
.iwan-thumb-tack:before {
  content: "\e000";
}
.iwan-edit:before {
  content: "\e010";
}
.iwan-angle-down:before {
  content: "\e038";
}
.iwan-angle-left:before {
  content: "\e039";
}
.iwan-angle-right:before {
  content: "\e046";
}
.iwan-angle-up:before {
  content: "\e047";
}
.iwan-home:before {
  content: "\e048";
}
.iwan-pirate-swords:before {
  content: "\e04b";
}
.iwan-pirate:before {
  content: "\e050";
}
.iwan-rum:before {
  content: "\e051";
}
.iwan-cannon:before {
  content: "\e049";
}
.iwan-hook:before {
  content: "\e052";
}
.iwan-kraken:before {
  content: "\e05c";
}
.iwan-lighthouse:before {
  content: "\e05d";
}
.iwan-pirate-hat:before {
  content: "\e05f";
}
.iwan-rum-1:before {
  content: "\e060";
}
.iwan-ship:before {
  content: "\e064";
}
.iwan-treasure:before {
  content: "\e065";
}
.iwan-treasure-open:before {
  content: "\e066";
}
.iwan-whale:before {
  content: "\e067";
}
.iwan-compass:before {
  content: "\e068";
}
.iwan-logbook:before {
  content: "\e069";
}
.iwan-plus:before {
  content: "\e06a";
}
.iwan-documentation:before {
  content: "\72";
}
.iwan-belt:before {
  content: "\e06b";
}
.iwan-zoom-in:before {
  content: "\e06c";
}
.iwan-zoom-out:before {
  content: "\e06d";
}
.iwan-scissors:before {
  content: "\e06e";
}
.iwan-github-icon:before {
  content: "\e06f";
}
